/* Global */
body {
    position: absolute;
    margin: 0px;
    overflow: hidden;
    top: 0px;
    bottom: 0px;
    width: 100%;
    background-color: black;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

/* CONTENT */ 

.content {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
}

/* HEADING */
#heading {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    width: 96vw;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: auto;
    background-color: #4CAF50; /*Delete*/
}

#heading h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

#heading h2 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}
#heading p {
    font-size: 0.75rem;
    margin-bottom: 1rem;
}


/* GAME */
.game {
    display: flex;
    align-items: space-;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    height: 50vh;
    margin-top: 20px;
}

.hand {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    background-color: ivory; /*Delete*/
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

#computer-hand img:hover {
    border: 2px solid #f44336;
    transform: scale(1.02);
}

#player-hand img:hover {
    border: 2px solid #008CBA;
    transform: scale(1.02);
}

.hand img {
    height: 125px;
    width: 125px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
}

.score-counter {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 2rem;
}

.response {
     display: flex;
    align-items: center;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 2rem;
}

/* COMPUTER */
#computer {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    width: 48vw;
    margin: auto;
    border-radius: 10px;
    background-color: #f44336; /*Delete*/
}

/* PLAYER */ 
#player {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    width: 48vw;
    margin: auto;
    border-radius: 10px;
    background-color: #008CBA; /*Delete*/
}

/* FOOTER */
#play-game {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    height: 20vh;
    width: 100vw;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    margin: auto;
    width: 20%;
    transition-duration: 0.4s;
}

button:hover {
    width: 22%;
    background-color: white;
    color: #4CAF50;
}

